.todo-item {
    padding: 3px;
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
}

.todo-item:hover {
    background: rgb(255, 186, 206);
}

/* todo-item 사이에 윗 테두리 */
.todo-item + .todo-item {
    border-top: 1px solid #f1f3f5;
}

.todo-text {
    flex: 1; /* 체크, 엑스를 제외한 공간 다 채우기 */
    word-break: break-all;
    text-align: left;
}
